* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(180deg, #863A6F, #975C8D, #D989B5, #FFADBC);
    font-family: sans-serif;
    margin: 0;
}

#Encabezado {
    padding: 32px;
    text-align: center;
    background: rgb(63, 63, 95);
    color: #fff;
    border-bottom: 4px solid rgb(57, 53, 53);
    font-size: 1vmax;
}

.galeria img {
    width: 100%;
    max-width: 550px;
    height: 500px;
    object-fit: cover;
    border-radius: 15px;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    margin: 0px auto;
    align-items: center;
    padding: 20px 10px;
    max-width: 1800px;
}